{% load static %}

<link href='{% static '/staticfiles/css/style.css' %}' rel='styleheet' />

<img src="{% static 'images/eu.png'%}" />
<!DOCTYPE html>
<html>
<head>
	<title>Paulo DEV</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/dennisivanov.jpg' %}" >
					<hr>
					<h4>Hi I'm Paulo!</h4>
					<p>I love coding and doing research </p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>Software Developer FrontEnd</h4>
					<hr>
					<p>I alone created more than 40 expansive, animated, interactive and pleasant interfaces, with all my self-taught performance using HTML, CSS, JS, React, BootsTraap, Tailwind among other languages, libraries and Frameworks. I developed interfaces with JavaStript, integrating with APIs available on some platforms such as Swiper and libraries such as React. Extensive use of the Git, Github and Netify tools, to host my codes and create links to my projects on the web. Understanding of Ui/Ux Design in creating interfaces, frameworks such as React.js and Bootstrap, and expansion of Css such as Sass and Tailwind to style the entire interface. I gained experience in backend development with Python, C++ and C# using Machining Learn for Chats, economic systems and game creation</p>

					

					<ul class="social-links">
						<li><img class="social" src="{% static 'images/facebook.png' %}"></li>
						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
						<li><img class="social" src="{% static 'images/youtube.png' %}"></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Developer</h5>
					<hr>
					<p>I developed more than 40 professional interfaces with my knowledge of frontend languages ​​such as JavaScript, React, HTML, CSS, TypeScript and NodeJs, in addition to my knowledge of Git, Github and Netlify, I have backend skills in Python with machine learning.</p>
					
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Software Developer I love transform ideas into innovative digital solutions. I'm from Belo Horizonte, with experience in web development, specializing in:

                         HTML, CSS and JavaScript.
                         React and Angular are frameworks in which I acquired solid skills, especially React.
                        Mastery of Rest API integration into interfaces through GraphQL.
                         Basic knowledge in using the Firebase tool, especially in hosting non-relational NoSQL databases, bringing efficiency and scalability to the projects I develop.
                         Use of extensions in TypeScript, Tailwind, Next, Vite, Sass and Bootstrap, which I use to facilitate the creation and styling of interfaces for web, desktop and mobile.
                         Use of Figma to assist in creating intuitive interface designs, also demonstrating basic knowledge in UI/UX.
                         I am proficient in Git, Github and Netlify, ensuring efficient management of the software development lifecycle, from coding to deployment.
                         I have basic knowledge in Python for developing BackEnd solutions, adding versatility to my knowledge.</p>
					
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>Universidade Pitágors BH - Brazil</p>

					<p>Based on the Systems Analysis and Development course and my self-taught studies, I decided
                        Be a Front End JavaScript Software Developer
                        Programming logic | Data Modeling | Interface | UML | C | C++ | Java | Python | Bank of
                        Data | SQL | NoSQL |Kotlin among others...</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>Aside from building small projects I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>